/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
}


.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    width: 420px;
    text-align: center;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 30px;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    font-size: 14px;
}

.upload-box {
    border: 2px dashed #475569;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background: #6366f1;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #4f46e5;
}